<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instructions Manual</title>
</head>
<body>
<div class="container">

  <div class="row">
    <div class="col-12">
      <h1 id="wqiHeading" class="display-3 pt-4">Add data</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-4">
      <div class="card round-corner">
        <div class="card-body">
          <h3 class="card-title">Instructions</h3>
          <h5 class="card-subtitle mb-2 text-muted">Format to upload .csv file</h5>
          <p class="card-text">
            <ol>
              <li><strong>Columns</strong>: Station Name, Time, &lt;Param-1&gt;, &lt;Param-2&gt;, ... , &lt;Param-N&gt;
              </li>
              <li><strong>Station Name</strong>: A valid string having no special characters</li>
              <li><strong>Time</strong>: Should be in format 'yyyy-mm-dd' OR 'yyyy-mm-dd hh:mm'</li>
              <li><strong>&lt;Param-X&gt;</strong>: Reperesents the parameter code-name or parameter name (should match
                exactly as provided <a href="{{ url_for('show_params') }}">here</a>)</li>
            </ol>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

</body>
</html>