<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block link %}{% endblock %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>{% block style%}{% endblock %}</style>


    {% if title %}
        <title>Groundwater Contamination Assessment - {{ title }}</title>
    {% else %}
        <title>Groundwater Contamination Assessment</title>
    {% endif %}
</head>
<body>
    <nav class="navbarNew">
    <span class="open-slide">
      <a href="#" onclick="openSlideMenu()">
        <svg width="30" height="30">
            <path d="M0,5 30,5" stroke="#fff" stroke-width="5"/>
            <path d="M0,14 30,14" stroke="#fff" stroke-width="5"/>
            <path d="M0,23 30,23" stroke="#fff" stroke-width="5"/>
        </svg>
      </a>
    </span>

    <ul class="navbar-navNew">
      <li><a href="{{ url_for('index')}}">Home</a></li>
        <li><a href="{{ url_for('database')}}">Database Management</a></li>
      <li><div class="dropdownNew">
            <button class="dropbtnNew">Analysis Visualisation
                <i class="fa fa-caret-down"></i>
            </button>

                <div class="dropdown-contentNew">
                <a href="{{ url_for('allPlots')}}">All Plots</a>
                <a href="{{ url_for('bargraph')}}">Bargraph</a>
                <a href="{{ url_for('boxplot')}}">Boxplots</a>
                <a href="{{ url_for('histogram')}}">Histograms</a>
                <a href="{{ url_for('scatterplot')}}">Scatterplots</a>
                <a href="{{ url_for('statistics')}}">Statistical Analysis</a>
                </div>
        </div>
        </li>
        <li><div class="dropdownNew">
            <button class="dropbtnNew">Analytical Models
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-contentNew">
                <a href="{{ url_for('analyticalModel')}}">All Models</a>
                <a href="{{ url_for('documentationLiedl')}}">Liedl et al.(2005)</a>
                <a href="{{ url_for('documentationChu')}}">Chu et al.(2004)</a>
                <a href="{{ url_for('documentationHam')}}">Ham et al.(2004)</a>
                <a href="{{ url_for('documentation3DLiedl')}}">Liedl et al.(2011)</a>
            </div>
        </div>
        </li>
        <li><div class="dropdownNew">
            <button class="dropbtnNew">Empirical Models
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-contentNew">
                <a href="{{ url_for('empiricalModel')}}">All Models</a>
                <a href="{{ url_for('documentationMaierAndGrathwohl')}}">Maier And Grathwohl(2005)</a>
                <a href="{{ url_for('documentationBirlaEtAl')}}">Birla et al.(2019)</a>
            </div>
        </div>
        </li>
        <li><a class="pull-right" href="{{ url_for('logout')}}">Logout</a></li>
    </ul>
  </nav>

  <div id="side-menu" class="side-nav">
    <a href="#" class="btn-close" onclick="closeSlideMenu()">&times;</a>
    <a href="{{ url_for('index')}}">Home</a>
    <a href="{{ url_for('analyticalModel')}}">Analytical Model</a>
      <a href="{{ url_for('histogram')}}">Histogram</a>
    <a href="{{ url_for('scatterplot')}}">Scatterplot</a>
  </div>
    <main role="main" class="container">
      <div class="row">
          {% block content %}{% endblock %}
        </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.csv.min.js"></script>


{% block javascript %} {% endblock %}
<script type="text/javascript">{% block script %}{% endblock %}</script>
</body>
</html>