{% extends 'baseLayoutDocumentation.html' %}
{% block title %}Liedl et al. (2005){% endblock %}
{% block li %}
        <div class="dropdownNew">
            <button class="dropbtnNew">Liedl et al. (2005)
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-contentNew">
                <a href="{{ url_for('liedlModelSingle')}}">Single Computing Simulation</a>
                <a href="{{ url_for('liedlModelMultiple')}}">Multiple Computing Simulation</a>
            </div>
        </div>
{% endblock %}
{% block content %}
<h1 id="1.-Vertically-oriented-2D-Model--–-Liedl-et-al.-(2005)"><strong>Vertically oriented <u>2D</u> Model</strong>  – Liedl et al. (2005)<a class="anchor-link" href="#1.-Vertically-oriented-2D-Model--%E2%80%93-Liedl-et-al.-(2005)">¶</a></h1><p>This model, based on Liedl et al. (2005), provides an estimate of a steady-state plume length ($L_{max}$ ) from a vertically oriented 2D model domain (see figure). The vertical orientation refers to $z$-axis being aligned to the aquifer thickness.</p>
    <p><img src="static/liedl2005fig.png" alt="Output from Liedl et al.(2005) model" style="zoom:40%;"></p>
    <p>Liedl et al.(2005) provides the following explicit expression for $L_{max}$:</p>
$$
L_{max} = \frac{4}{\pi^2}\frac{M^2}{\alpha_{Tv}}\ln\bigg(\frac{4}{\pi}\frac{\gamma C_{ED}^\circ + C_{EA}^\circ }{C_{EA}^\circ}\bigg)
$$<p>in which:</p>
<p>$M$ = Source Thickness [L], which is equal to Aquifer thickness ($A_t$) [L]<br>
$\alpha_{Tv}$ = Vertical Transverse Dispersivity [L]<br>
$\gamma$ = Reaction stoichiometric ratio [ ]<br>
$C_{ED}^\circ$ = Contaminant (Electron Donor) concentration [ML$^{-1}$]<br>
$C_{EA}^\circ$ = Partner Reactant (Electron Acceptor) concentration [ML$^{-1}$]</p>
<p><strong>The model is based on the following assumptions:</strong></p>
<ol>
<li>Steady-state condition in a homogeneous and isotropic aquifer.</li>
<li>A single step bi-molecular instantaneous reaction between reactants taking place only at the fringe.</li>
<li>The contaminant source (Electron Donor) penetrates entire thickness of the aquifer.</li>
</ol>
<p><strong>Reference:</strong></p>
<p>Liedl, R., Valocchi, A., Dietrich, P., Grathwohl, P., 2005. Finiteness of steady state plumes. Water Resour. Res. 41, W12501. <a href="https://doi.org/10.1029/2005WR004000">https://doi.org/10.1029/2005WR004000</a></p>
{% endblock %}