{% extends 'baseLayoutDocumentation.html' %}
{% block title %}Empirical Model{% endblock %}
{% block h2 %}EMPIRICAL MODEL{% endblock %}
{% block content %}
<div class="grid-container">
    <div class="grid-item">
        <h3>Maier And Grathwohl(2005)</h3><a href="{{ url_for('documentationMaierAndGrathwohl')}}"><h3>Click here to see the model</h3><img src="/static/liedl2005fig.png" style="zoom:40%;"/></a>
    </div>
    <div class="grid-item">
        <h3>Birla et al.(2019)</h3><a href="{{ url_for('documentationBirlaEtAl')}}"><h3>Click here to see the model</h3><img src="static/birlafig(2020).png" alt="Output from Birla et al.(2020) model" style="zoom:35%;"></a>
    </div>
</div>
{% endblock %}