{% extends 'baseLayoutDatabase.html' %}
{% block title%}Analysis Visualisation{% endblock %}
{% block style %}
.grid-container {
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 10px;
    }
    .grid-item {
      padding: 20px;
      transition: transform .2s;
      text-align: center;
    }
    .grid-item:hover {
          -ms-transform: scale(1.2); /* IE 9 */
          -webkit-transform: scale(1.2); /* Safari 3-8 */
          transform: scale(1.2);
        }

    {% endblock %}
{% block content %}
<div class="grid-container">
    <div class="grid-item">
        <h2>Bargraph </h2><br>
        <a href="{{ url_for('bargraph')}}"><img src="static/bargraph.png" height="200" width="400"/></a>
    </div>
    <div class="grid-item">
        <h2>Boxplot </h2><br>
        <a href="{{url_for('boxplot')}}"><img src="static/boxplot.png" height="200" width="400"/></a>
    </div>
    <div class="grid-item">
        <h2>Histogram Distribution </h2><br>
        <a href="{{ url_for('histogram')}}"><img src="static/histogram.png" height="200" width="400"/></a>
    </div>
    <div class="grid-item">
        <h2>Scatter Plot </h2><br>
        <a href="{{ url_for('scatterplot')}}"><img src="static/scatterplot.png" height="200" width="400"/></a>
    </div>
    <div class="grid-item">
        <h2>Statistical Analysis </h2><br>
        <a href="{{ url_for('statistics')}}"><img src="static/statistics.png" height="200" width="400"/></a>
    </div>
</div>
{% endblock %}