{% extends 'baseLayoutDatabase.html' %}
{% block title %}Bargraph{% endblock %}

{% block content %}
<main role="main" class="container">
      <div class="row">
          <h2>Bargraph : </h2>
                 <button class="btn btn-primary" id="fullScreen">View full screen graph</button>
                <div class="chart" id="plot">
                    <script>
                        var graphs = {{plot | safe}};
                        Plotly.newPlot('plot',graphs['data'],graphs['layout'],{ responsive: true });
                    </script>
                </div>
            </div>
</main>{% endblock %}