{% extends 'baseLayoutDatabase.html' %}
{% block title %}Boxplot{% endblock %}

{% block content %}
<div class="col-xs-3">
<h2>Boxplots </h2><br>
<label> Choose the parameter : </label>
<select class="form-control" id='third_cat'>
    <option value="Plume length[m]">Plume Length</option>
    <option value="Aquifer thickness[m]">Aquifer thickness[m]</option>
    <option value="Electron Donor[mg/l]">Electron Donor[mg/l]</option>
    <option value="Electron Acceptors : O2[mg/l]">Electron Acceptor : O2[mg/l]</option>
    <!--<option value="NO3[mg/l]">Electron Acceptor : NO3[mg/l]</option>-->
    <!--<option value="SO4[mg/l]">Electron Acceptor : SO4[mg/l]</option>-->
    <!--<option value="Fe(II)[mg/l]">Electron Acceptor : Fe(II)[mg/l]</option>-->
</select>
</div>
<div class="col-md-6">
                 <button class="btn btn-primary" id="fullScreen">View full screen graph</button>
                <div class="chart" id="plot">
                    <script>
                        var graphs = {{plot | safe}};
                        Plotly.newPlot('plot',graphs['data'],graphs['layout'],{ responsive: true });
                    </script>
                </div>
            </div>
{% endblock %}
{% block javascript %}
<script src="{{ url_for('static', filename='js/boxplot.js') }}"></script>{% endblock %}




