{% extends 'baseLayoutDatabase.html' %}
{% block title %}Histogram{% endblock %}

{% block content %}
            <div class="col-xs-3">
                <h2>Histogram Distributions</h2><br>
                <label> Choose the type of kernel density for the Histogram: </label>
                <select class="form-control" id ='histogramFeature'>
                    <option value="Gaussian">Gaussian</option>
                    <option value="Log Normal">Log Normal</option>
                    <option value="Exponential">Exponential</option>
                </select><br>
                <label> Choose the parameter : </label>
                <select class="form-control" id ='parameter'>
                    <option value="Plume length[m]">Plume length[m]</option>
                    <option value="Electron Donor[mg/l]">Electron Donor[mg/l]</option>
                    <option value="Electron Acceptors : O2[mg/l]">Electron Acceptor : O2[mg/l]</option>
                    <option value="Aquifer thickness[m]">Aquifer thickness[m]</option>
                </select>
            </div>
<div class="col-md-6">
                 <button class="btn btn-primary" id="fullScreen">View full screen graph</button>
                <div class="chart" id="plot">
                    <script>
                        var graphs = {{plot | safe}};
                        Plotly.newPlot('plot',graphs['data'],graphs['layout'],{ responsive: true });
                    </script>
                </div>
            </div>
                {% endblock %}
{% block javascript %}
    <script src="{{ url_for('static', filename='js/histo.js') }}"></script>
{% endblock %}