{% extends 'baseLayoutDatabase.html' %}
{% block title %}Scatterplot{% endblock %}

{% block content %}
         <div class="col-xs-3">
             <h2>Scatter Plots</h2><br>
                <label> Choose the type of fit for the scatterplot :</label>
                <select class="form-control" id ='scatterplot_fits'>
                    <option value="Exponential">Exponential</option>
                    <option value="Linear">Linear</option>
                    <option value="Power 2">Power 2</option>
                    <option value="Power 3">Power 3</option>
                </select><br>
             <label> Choose the parameter : </label>
                <select class="form-control" id ='parameters'>
                    <option value="Aquifer thickness[m]">Aquifer thickness[m]</option>
                    <option value="Electron Donor[mg/l]">Electron Donor[mg/l]</option>
                    <option value="Electron Acceptors : O2[mg/l]">Electron Acceptor : O2[mg/l]</option>
                </select>
         </div>
<div class="col-md-6">
                 <button class="btn btn-primary" id="fullScreen">View full screen graph</button>
                <div class="chart" id="plot">
                    <script>
                        var graphs = {{plot | safe}};
                        Plotly.newPlot('plot',graphs['data'],graphs['layout'],{ responsive: true });
                    </script>
                </div>
            </div>
            {% endblock %}
{% block javascript %}<script src="{{ url_for('static', filename='js/plots.js')}}"></script>
{% endblock %}