{% extends 'baseLayoutDatabase.html' %}
{% block title %}Statistical Analysis{% endblock %}
{% block style %}
    h2,h3{
      margin: 50px;
    }
    td:hover{
        background-color: #c6538c;
        color : #ffffff
    }
    .container{
        background-color : #ffffff;
    }
    {% endblock %}
{% block content %}
    <main role="main" class="container">
     <div class="row">
         <h2>Statistical Analysis</h2>
         <h3>The statistics presented below are representing the site database parameters</h3>
                {{data.to_html(classes="table table-striped table-hover table-responsive") | safe}}
     </div>
    </main>
    {% endblock %}



