{% extends 'baseLayoutDocumentation.html' %}
{% block title %}Liedl et al. (2011){% endblock %}
{% block li %}
        <div class="dropdownNew">
            <button class="dropbtnNew">Liedl et al. (2011)
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-contentNew">
                <a href="{{ url_for('liedl3DModelSingle')}}">Single Computing Simulation</a>
                <a href="{{ url_for('liedl3DModelMultiple')}}">Multiple Computing Simulation</a>
            </div>
        </div>
{% endblock %}
{% block content %}
<h1 id="4.--3D-Model--–-Liedl-et-al.-(2011)"><strong><u>3D</u> Model</strong>  – Liedl et al. (2011)<a class="anchor-link" href="#4.--3D-Model--%E2%80%93-Liedl-et-al.-(2011)">¶</a></h1><p>This model, based on Liedl et al. (2011), provides an estimate of a steady-state plume length ($L_{max}$ ) from a 3D model domain (see figure). This model extends the 2D model present in Liedl et al. (2005). As is in the 2D model, in this model too the vertical orientation refers to $z$-axis being aligned to the aquifer thickness. The domain width and length is infinite in this model.</p>
<p><img src="static/liedl2011fig.png" alt="Output from Liedl et al.(2011) model" style="zoom:40%;"></p>
    <p>Liedl et al.(2011) provides the following explicit expression for $L_{max}$:</p>
$$
\text{erf}\bigg(\frac{W}{\sqrt{4\alpha_{Th}L}}\bigg)\,\text{e}^{-\alpha_{Tv}L \big(\frac{\pi}{2M}\big)^2} =\frac{\pi}{4}\frac{\gamma C_{Thres}+C_{EA}^\circ}{\gamma C_{ED}^\circ+C_{EA}^\circ}
$$<p>in which:</p>
<p>$M$ = Source Thickness [L], which is equal to Aquifer thickness ($A_t$) [L]<br>
$\alpha_{Tv}$ = Vertical Transverse Dispersivity [L]<br>
$W$ = Source Width [L]<br>
$\alpha_{Th}$ = Horizontal Transverse Dispersivity [L]<br>
$\gamma$ = Reaction stoichiometric ratio [ ]<br>
$C_{ED}^\circ$ = Contaminant (Electron Donor) concentration [ML$^{-1}$]<br>
$C_{EA}^\circ$ = Partner Reactant (Electron Acceptor) concentration [ML$^{-1}$]<br>
$C_{Thres}$ = Threshold Contaminant Concentration [ML$^{-1}$]</p>
<p>The $C_{Thres}$ in this model allows to set the contaminant concentration to any value greater than or equal to zero, and then $L_{max}$ is length from the origin to that maximum distance of $C_{Thres}$ along $x$-axis .</p>
<p><strong>The model is based on the following assumptions:</strong></p>
<ol>
<li>Steady-state condition in a homogeneous and isotropic aquifer.</li>
<li>A single step bi-molecular instantaneous reaction between reactants taking place only at the fringe.</li>
<li>The contaminant source (Electron Donor) penetrates entire thickness of the aquifer.</li>
</ol>
<p><strong>Reference:</strong></p>
<p>Liedl, R., Yadav, P.K., Dietrich, P., 2011. Length of 3-D mixing-controlled plumes for a fully penetrating contaminant source with finite width. Water Resour. Res. 47. <a href="https://doi.org/10.1029/2010WR009710">https://doi.org/10.1029/2010WR009710</a></p>
{% endblock %}