{% extends 'baseLayoutMultiplePlots.html' %}
{% block title %}Liedl et al. (2011){% endblock %}
{% block li %}
<div class="dropdownNew">
            <button class="dropbtnNew">Liedl et al.(2011)
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-contentNew">
                <a href="{{ url_for('documentation3DLiedl')}}">Model Description</a>
                <a href="{{ url_for('liedl3DModelSingle')}}">Single Computing Simulation</a>
            </div>
        </div>
{% endblock %}
<div class="row">
    {% block h2 %}Liedl et al. (2011){% endblock %}
    {% block img %}<img src="static/liedl2011.png" width="400">{% endblock %}
    {% block href%}<a href="static/Liedl3D(2011).csv" download><button type="button" class="btn btn-light">Download Sample File</button></a>{%endblock%}
            {% block content %}
    {% block body %}
    <div class="container-fluid">
                <table class="table content-section display" id="data-table">
                    <thead class="thead-light">
                    <tr>
                        {% for name in column_names %}
                            <th scope="col">{{ name }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in table_data %}
                        <tr id="{{ data[0] }}_table">
                            {% for value in data %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Please Insert Data</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="">
                {{form.hidden_tag()}}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{form.Source_Thickness.label(class="form-control-label")}}
                        {% if form.Source_Thickness.errors %}
                                {{form.Source_Thickness(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.Source_Thickness.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor%}
                                </div>
                            {% else %}
                                {{form.Source_Thickness(class="form-control form-control-lg")}}
                            {% endif%}
                    </div>
                    <div class="form-group">
                        {{form.Vertical_Transverse_Dispersivity.label(class="form-control-label")}}
                        {% if form.Vertical_Transverse_Dispersivity.errors %}
                                {{form.Vertical_Transverse_Dispersivity(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.Vertical_Transverse_Dispersivity.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor%}
                                </div>
                            {% else %}
                                {{form.Vertical_Transverse_Dispersivity(class="form-control form-control-lg")}}
                            {% endif%}
                    </div>
                    <div class="form-group">
                        {{form.Source_Width.label(class="form-control-label")}}
                        {% if form.Source_Width.errors %}
                                {{form.Source_Width(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.Source_Width.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor%}
                                </div>
                            {% else %}
                                {{form.Source_Width(class="form-control form-control-lg")}}
                            {% endif%}
                    </div>
                    <div class="form-group">
                        {{form.Horizontal_Transverse_Dispersivity.label(class="form-control-label")}}
                        {% if form.Horizontal_Transverse_Dispersivity.errors %}
                                {{form.Horizontal_Transverse_Dispersivity(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.Horizontal_Transverse_Dispersivity.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor%}
                                </div>
                            {% else %}
                                {{form.Horizontal_Transverse_Dispersivity(class="form-control form-control-lg")}}
                            {% endif%}
                    </div>
                    <div class="form-group">
                        {{form.Stoichiometric_Ratio.label(class="form-control-label")}}
                        {% if form.Stoichiometric_Ratio.errors %}
                                {{form.Stoichiometric_Ratio(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.Stoichiometric_Ratio.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor%}
                                </div>
                            {% else %}
                                {{form.Stoichiometric_Ratio(class="form-control form-control-lg")}}
                            {% endif%}
                    </div>
                    <div class="form-group">
                        {{form.Partner_Reactant_Concentration.label(class="form-control-label")}}
                        {% if form.Partner_Reactant_Concentration.errors %}
                                {{form.Partner_Reactant_Concentration(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.Partner_Reactant_Concentration.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor%}
                                </div>
                            {% else %}
                                {{form.Partner_Reactant_Concentration(class="form-control form-control-lg")}}
                            {% endif%}
                    </div>
                    <div class="form-group">
                        {{form.Contaminant_Concentration.label(class="form-control-label")}}
                        {% if form.Contaminant_Concentration.errors %}
                                {{form.Contaminant_Concentration(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.Contaminant_Concentration.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor%}
                                </div>
                            {% else %}
                                {{form.Contaminant_Concentration(class="form-control form-control-lg")}}
                            {% endif%}
                    </div>
                    <div class="form-group">
                        {{form.Threshold_Contaminant_Concentration.label(class="form-control-label")}}
                        {% if form.Threshold_Contaminant_Concentration.errors %}
                                {{form.Threshold_Contaminant_Concentration(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.Threshold_Contaminant_Concentration.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor%}
                                </div>
                            {% else %}
                                {{form.Threshold_Contaminant_Concentration(class="form-control form-control-lg")}}
                            {% endif%}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{form.submit(class="btn btn-outline-info")}}
                </div>
            </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
    {% endblock %}
    {% endblock %}

{% block script %}
   function format_link(link){
        if (link)
          return "<a href='" + link + "' target='_blank'>" + link + "</a>";
        else
          return "";
      }
$(document).ready(function(){

 $('#framework').multiselect({
  nonSelectedText: 'All Sites',
  enableFiltering: true,
  enableCaseInsensitiveFiltering: true,
  buttonWidth:'400px',
  onChange: function(option, checked){
    var _selectedOptions = $('#framework option:selected');
    let selectedOptions = [];
    for (let i = 0; i < _selectedOptions.length; ++i) {
        selectedOptions.push(_selectedOptions[i].value);
    }

    // Send an AJAX request
    $.ajax({
        type: 'GET',
        url: '/liedl3DModelMultiple',
        data: {
            siteUnits: JSON.stringify(selectedOptions),
        },
        dataType: 'json',
        success: function(data) {
            console.log(data);
            Plotly.newPlot('para', data);
        }
    });
  }
 });
});
{% endblock %}