.box {
  float: left;
  width: 33.33%;
  padding: 20px;
  position:relative;
  color:white;
}

/* Clear floats after the boxes */
.tool:after {
  content: "";
  display: table;
  clear: both;
}

.centered {
  left: 0;
  position:absolute;
  text-align:center;
  top: 60px;
  width: 100%
}

* {
  box-sizing: border-box;
}
